<div class="container">
    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th>Sede</th>
                <th>Sitio web</th>                
                <th>Secci&oacuten</th>
                <th>Caracterst&iacuteca</th>
                <th>Interno</th>
            </tr>
        </thead>
        <tbody>
            <% phoneNumbers.forEach(function(element) {%>
            <tr>
                <td><%=element.sede%></td>
                <td><a href="<%=element.webpage%>"><%=element.webpage%></a></td>
                <td><%=element.seccion%></td>
                <td><%=element.caracteristica%></td>
                <td><%=element.interno%></td>
            </tr>
            <%})%>
        </tbody>
    </table>
</div>