<!DOCTYPE html>
<html>

<head>
    <title><%= siteName %> | <%= pageTitle %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=block" rel="stylesheet" />
</head>

<body>
    <!-- HEADER -->
    <!--
    <header>
        <div class="jumbotron d-none d-sm-block" id="myHeader">
            <img src="https://www.interior.edu.uy/assets/cropped-logo_udelar_blanco.png">
            <h2>Teléfonos de la Udelar en el Interior</h2>
        </div>
    </header>
-->
    <div>
        <nav class="navbar navbar-expand-sm navbar-custom justify-content-between">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img src="https://www.interior.edu.uy/assets/cropped-logo_udelar_blanco.png"
                        class="d-inline-block align-top" alt="udelar logo">
                </a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            Principal
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Sedes
                        </a>
                        <div class="dropdown-menu">
                            <% sedes.forEach(function(element) {%>
                            <tr>
                                <a class="dropdown-item" href='/<%=element.nombre%>'><%=element.nombre%></a>
                            </tr>
                            <%})%>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/xml">
                            XML
                        </a>
                    </li>
                </ul>
            </div>

        </nav>
        <div class="main-title">
            <h3>Teléfonos de la Udelar en el Interior</h3>
        </div>

    </div>
    <!-- ### -->

    <!-- MAIN CONTENT -->
    <%- include(`../pages/${template}`) %> <%- include('./partials/scripts') %>
    <!-- ### -->

    <!-- FOOTER -->
    <div class="footer">
        <div class="container text-center">
            2020 - Sitio desarrollado por el equipo transversal del
            <i class="fas fa-external-link-alt"></i>
            <a href="https://interior.edu.uy"> Interior</a> -
            <i class="fab fa-github"></i>
            <a href="https://github.com/UdelaRInterior"> GitHub</a>
        </div>
    </div>
    <!-- ### -->

</body>

</html>